@using Microsoft.AspNet.Identity
@using TelegramSMM.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/Home/Index">
            <img src="https://icons-for-free.com/iconfiles/png/512/message+messenger+network+plane+social+media+telegram+icon-1320137113135966803.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Telemetr
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cabinet
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Channels/Index">My channels</a>
                        <a class="dropdown-item" href="/Posts/Index">My posts</a>
                        <a class="dropdown-item" href="/Orders/GetOrdersToMyChannels">Orders</a>
                        <a class="dropdown-item" href="/Orders/Index">My orders</a>
                    </div>

                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">Search Channels</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                string UserId = User.Identity.GetUserId();
                ApplicationContext db = new ApplicationContext();
                User u = db.Users.FirstOrDefault(m => m.Id == UserId);
               



                <li class="nav-item">
                    <a class="nav-link disabled" href="#">User: @u.Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Balance: @u.Balance ₽</a>
                </li>
                if (ViewBag.Title == "ViewСheck" || ViewBag.Title == "SalesReceipt" || ViewBag.Title == "ChannelReport")
                {
                    <li class="alert alert-primary ml-5" role="alert">
                        click  " Ctrl + P " to print report
                    </li>
                }
            }
        </ul>
        
        


        <ul class="nav justify-content-end">
            


            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link active" href="/Account/Logout">Sing out</a>
                </li>
            }
            else
            {
                if (ViewBag.Title != null && ViewBag.Title == "Register")
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="/Account/Login">Sing in</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="/Account/Register">Sing up</a>
                    </li>
                }


            }

        </ul>
        
    </div>
</nav>



@RenderBody()
<hr class="dashed"/>
<footer>
    <p>&copy; @DateTime.Now.Year - Telemetr ASP.NET </p>
</footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
