@model TelegramSMM.Models.Channel

@{
    ViewBag.Title = "Create";
}

<h2 class="logo">ADD CHANNEL</h2>
<hr class="dashed" />

@{
    string str = "@channel";
    string reg = "@.*";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mega-block">
        

        <div class="big-block">
            <div class="in-big-block">
                

                @Html.ValidationSummary(true, "", new { @class = "validation-message  alert alert-primary" })
                <div class="form-group">

                    <label class="control-label">Channel name</label>
                    <div class="">
                        <input type="text" name="UserName" id="UserName" class="form-control" required minlength="5" maxlength="100" placeholder="@str" pattern="@reg"/>

                        @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label">Post price</label>
                    <div class="">
                        <input type="number" name="PostPrice" id="PostPrice" class="form-control" required min="0" max="100000" placeholder="0"/>
                        @Html.ValidationMessageFor(model => model.PostPrice, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Add channel" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
