@model TelegramSMM.Models.Channel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Channel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.TelegramAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.TelegramAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountOfSubscribers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfSubscribers)
        </dd>

    </dl>
</div>

