@using TelegramSMM.Models
@model IEnumerable<TelegramSMM.Models.Channel>

@{
    ViewBag.Title = "Index";
}

<h2 class="logo">YOUR CHANNELS</h2>
<hr class="dashed" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@{
    var channels = Model as List<Channel>;

    for (int i = 0; i < channels.Count; i += 4)
    {
        int a = 4;
        <div class="card-deck">


            @if (i + a > channels.Count)
            {
                while (i + a >= channels.Count)
                {
                    a -= 1;
                }
                a += 1;
            }


            @for (int j = i; j < i + a; j++)
            {


            <div class="card">
                

                
                
                <div class="image-center">
                    @if (channels[j].Image == null || channels[j].Image == "")
                    {

                    
                        <img src="~/Images/telesmall.png" class="round card-img-top" alt="..." />
                    }
                    else
                    {
                        <img src="~/Images/@channels[j].Image" class="card-img-top round" alt="..." />
                    }
                </div>

                <div class="card-body  t-a-c">
                    <h5 class="card-title">@channels[j].Name</h5>

                    <a href="@channels[j].Link">@channels[j].Link</a>
                    <p class="">Subscribers: @channels[j].CountOfSubscribers<br/>
                        Post price: <text class="bold"> @channels[j].PostPrice ₽</text></p>

                    <p class="card-text">@channels[j].Description</p>

                </div>

                <div class="card-footer ">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@channels[j].UserName.Remove(0,2)">
                        Update price
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@channels[j].UserName.Remove(0,1)">
                        Delete
                    </button>

                    @Html.ActionLink("Report", "GetChannelReport", new { Id = channels[j].Id }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Get Posts", "GetPostsByOrder", new { Id = channels[j].Id }, new { @class = "btn btn-primary" })


                   
                </div>



                <div class="modal fade" id="@channels[j].UserName.Remove(0,1)" tabindex="-1" role="dialog" aria-labelledby="@channels[j].UserName.Remove(0,1)" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="@channels[j].UserName.Remove(0,1)">Are you sure you want to delete the channel "@channels[j].Name" ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @Html.ActionLink("Delete", "Delete", "Channels", new { id = channels[j].Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="modal fade" id="@channels[j].UserName.Remove(0,2)" tabindex="-1" role="dialog" aria-labelledby="@channels[j].UserName.Remove(0,2)" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="@channels[j].UserName.Remove(0,2)">Update price "@channels[j].Name"  channel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <form action="/Channels/Edit" method="post">

                            <div class="modal-body">
                                
                                    <div class="form-group">
                                        <h4 for="PostPrice" class="col-form-label">Old price: <text class="bold">@channels[j].PostPrice ₽</text></h4>
                                        <input type="hidden" name="Id" value="@channels[j].Id" />
                                        <h4 for="PostPrice" class="col-form-label">New price:</h4>
                                        <input name="PostPrice" type="number" class="form-control" required min="0" max="100000">
                                    </div>

                               
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Update</button>
                               
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                
                
                


            </div>


            }

            @if (a < 4)
            {
                for (int k = 0; k < (4 - a); k++)
                {
                    <div class="card zeroborder">

                    </div>
                }
            }

        </div>
        <br />
        <br />
    }
}