@using TelegramSMM.Models
@model IEnumerable<TelegramSMM.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2 class="logo">YOUR POSTS</h2>
<hr class="dashed"/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    
    @{
        var posts = Model as List<Post>;

        for(int i = 0 ; i<posts.Count ; i+=4)
        {
            int a = 4;
            <div class="card-deck">
                
                
                @if (i + a > posts.Count)
                {
                    while (i + a >= posts.Count)
                    {
                        a -= 1;
                    }
                    a +=1;
                }   
                    
                
                @for (int j = i; j < i + a; j++)
                {

      
                <div class="card">
                    @if (posts[j].Image == null || posts[j].Image == "")
                    {

                        <img src="~/Images/cardImage.jpg" class="card-img-top" alt="..." />
                    }
                    else
                    {
                        <img src="~/Images/@posts[j].Image" class="card-img-top" alt="..." />
                    }

                    <div class="card-body ">
                    <h5 class="card-title">@posts[j].Title</h5>
                        <a href="@posts[j].Link">@posts[j].Link</a>
                        <p class="card-text">@posts[j].Text</p>
                    </div>
                    @{ string an = "aaaa";}
                <div class="card-footer ">

                    @Html.ActionLink("Update", "Edit", "Posts", new { id = posts[j].Id }, new { @class = "btn btn-primary" })

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@an@posts[j].Title.Replace(' ','a')">
                        Delete
                    </button>
                    @Html.ActionLink("Was posted", "GetChannelsByOrder", "Posts", new { id = posts[j].Id }, new { @class = "btn btn-primary" })

                    
                </div>
                    
                   

                    <div class="modal fade" id="@an@posts[j].Title.Replace(' ','a')" tabindex="-1" role="dialog" aria-labelledby="@an@posts[j].Title.Replace(' ','a')" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="@an@posts[j].Title.Replace(' ','a')">Are you sure you want to delete the post "@posts[j].Title" ?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    @Html.ActionLink("Delete", "DeletePost", "Posts", new { id = posts[j].Id }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                    
                }
                
                @if(a<4)
                {
                    for (int k = 0; k < (4 - a); k++)
                    {
                        <div class="card zeroborder">

                        </div>
                    }
                }

            </div>
            <br/>
            <br/>
        }
    }

   






