@model IEnumerable<TelegramSMM.Models.Order>

@{
    ViewBag.Title = "Index";
}


<h2 class="logo">YOUR ORDERS</h2>


<div class="my-table">
    <table class="table ">
        <tr class="table-col">
            <th>
                Channel
            </th>
            <th>
                Post
            </th>
            <th>

                Desired publication date
            </th>
            <th>
                Order date
            </th>
            <th></th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.Channel.Link">@Html.DisplayFor(modelItem => item.Channel.Name)</a>
                </td>
                <td>
                    @Html.ActionLink(item.Post.Title, "Details", "Posts", new { id = item.PostId } , new {@class=""})
                </td>
                <td>
                    @item.PublicationDate.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePost)
                </td>
                <td class="column">
                    @if (item.DealCompleted == false)
                    {
                        if (item.Renouncement == true)
                        {
                            <p class="red">
                                Admin refused to advertise</p>
                        }

                        if (item.IsDone == true)
                        {
                            <p class="green">
                                Admin posted your post
                            </p>
                            @Html.ActionLink("Confirm", "ConfirmAdvert", new {id = item.Id}, new {@class = "btn btn-success"})
                        }
                        else
                        {
                            @Html.ActionLink("Cancel the order", "Delete", new {id = item.Id}, new {@class = "btn btn-danger"})
                        }
                    }
                    else
                    {
                        <p class="green">
                            deal completed
                        </p>
                        @Html.ActionLink("View check", "ViewСheck", new {id = item.Id}, new {@class = "btn btn-success"})
                    }

                </td>
            </tr>
        }

    </table>
    </div>